html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  html,
  body {
    font-size: 12px;
  }
}
