html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

blockquote {
  border-left: 0.5rem solid rgba(111, 111, 111, 0.6);
  padding-left: 1.2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  html,
  body {
    font-size: 12px;
  }

  .flex-row {
    flex-wrap: wrap;
  }
}
